.logo{
    margin-left: 20px;
}
.main{
    width: 80%;
    margin:auto;
}
/* .card-group2{
    width: 50%;
} */
.main-card{
    width: 80%;
    margin:auto;
}
.img80{
    width: 80%;
    margin:auto;
}
