.logo{
    margin-left: 20px;
}
.main{
    width: 80%;
    margin:auto;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
.area{
    /* background-color: aqua;
    width: 100%;
    height: 100%;
    display: block; */
    display: block;
    margin: auto;
    text-align: center;
    height: 220px;
    width: 70%;
    /* background-color: rgb(250, 210, 250); */
    padding: 0px;
    position: relative;
    z-index: 9;
}
input{
    position: absolute;
    top: 0px;
    float: right;
    color: blue;
    z-index: 11;
    margin-left: 100px;
    
}
.m1{
    /* cursor: move; */
    width: 48px;
    height: 68px;
    z-index: 10;
    float: left;
    /* background-color: aqua; */
    position: relative;
    margin-left: 30px;
    background: url("../img/m1.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}
.m2{
    /* cursor: move; */
    z-index: 10;
    width: 70px;
    height: 100px;
    position: relative;
    float: left;
    margin-left: 30px;
    background-image: url("../img/m9.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}
.m3{
    /* cursor: move; */
    z-index: 10;
    width: 85px;
    height: 125px;
    position: relative;
    float: left;
    margin-left: 30px;
    background-image: url("../img/m6.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}
.m4{
    /* cursor: move; */
    z-index: 10;
    width: 100px;
    height: 150px;
    position: relative;
    float: left;
    margin-left: 30px;
    background-image: url("../img/m4.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}
.m5{
    /* cursor: move; */
    z-index: 10;
    width: 115px;
    height: 175px;
    position: relative;
    float: left;
    margin-left: 30px;

    background-image: url("../img/m5.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
