.class1{
    background-color: #FFFACD;
}
.class2{
    background-color: #DDA0DD;
}
.power{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    width: 150px;
    height: 50px;
}
.power:hover{
    background-color: #4CAF50;
    color: white;
}
li{
    margin-bottom: 15px;
    width: 50%;
}