* {
    box-sizing: border-box;
}
header{
    padding: 80px;
    text-align: center;
    /* background: #1abc9c; */
    background-image: url("image/pexels-kat-smith-567985.jpg");
    color: white;
    margin: 0px;
}

header h1 {
    font-size: 40px;
}

body {
    font-family: Arial;
    margin: 0;
}

nav{
    overflow: hidden;
    background-color: #333;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
/* логотип */
.xmas{
    float: left;
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    /* background-color: blue; */
    margin-left: 10px;
}
.bottomtree{
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 12px solid green;
    position: absolute;
    margin-top: 24px;
    margin-left: 10px;
    /* rotate: 180deg; */
}
.middletree{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid green;
    position: absolute;
    margin-top: 17px;
    margin-left: 13px;
    /* rotate: 180deg; */
}
.toptree{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid green;
    position: absolute;
    margin-top: 10px;
    margin-left: 16px;
    /* rotate: 180deg; */
}
.beauty1{
    background-color: yellow;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    margin-top:8px;
    margin-left: 21px;
    position: absolute;
}
.beauty2{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:20px;
    margin-left: 16px;
    position: absolute;
}
.beauty3{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:22px;
    margin-left: 18px;
    position: absolute;
}
.beauty4{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:24px;
    margin-left: 20px;
    position: absolute;
}
.beauty5{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:26px;
    margin-left: 22px;
    position: absolute;
}
.beauty6{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:28px;
    margin-left: 24px;
    position: absolute;
}
.beauty7{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:30px;
    margin-left: 26px;
    position: absolute;
}
.beauty8{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:32px;
    margin-left: 28px;
    position: absolute;
}
.beauty9{
    background-color: yellow;
    height: 2px;
    width: 2px;
    border-radius: 100%;
    margin-top:34px;
    margin-left: 30px;
    position: absolute;
}
.bottomtree:hover~.beauty1{
    background-color: white;

}
.bottomtree:hover~.beauty2{
    background-color: greenyellow;
}
.bottomtree:hover~.beauty3{
    background-color: red;
}
.bottomtree:hover~.beauty4{
    background-color: blue;
}
.bottomtree:hover~.beauty5{
    background-color: greenyellow;
}
.bottomtree:hover~.beauty6{
    background-color: red;
}
.bottomtree:hover~.beauty7{
    background-color: blue;
}
.bottomtree:hover~.beauty8{
    background-color: greenyellow;
}
.bottomtree:hover~.beauty9{
    background-color: red;
}




/*главная часть */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    width: 70%;
    padding: 20px;
    margin: auto;
}

.area{
    /* background-color: aqua;
    width: 100%;
    height: 100%;
    display: block; */
    display: block;
    
    height: 500px;
    width: 100%;
    background-color: rgb(250, 210, 250);
    padding: 0px;
    position: relative;
    z-index: 9;
}
.wall{

    width: 100px;
    height: 100px;
    cursor: move;
    z-index: 10;
    position: absolute;
    background-color: #2196F3;
    color: #fff;
}

.roof {
    width: 0;
    height: 0;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 82px solid #808080;
    position: absolute;


    z-index: 10;
}

.door {
    width: 40px;
    height: 60px;
    cursor: move;
    z-index: 10;
    position: absolute;
    background-color: grey;
    color: #fff;
}
.window{
    position: absolute;
    width:40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    z-index: 10;
}
/* .wall:hover{
    transform: rotate(45deg);
} */
